@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Hello everybody</h2>
    <h3>Helloooooo</h3>
    <p>sdghdfkhgkhh</p>
    <p>728346734</p>
<p>Thươnggggggggg</p>
</div>
